.a {
  /*display: inline;
  flex-direction: column;
  align-items: right; */
  justify-content: space-between;
  width: 85%;
}
.admin {
  width: 85%;
  height: 100%;
  padding-top: 10px;
  padding-left: 50px;
}

.a2 {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
.change {
  display: flex;
  margin-bottom: 20px;
  color: rgb(6, 187, 253);
  font-size: 17px;
  font-weight: lighter;
}
.inline {
  display: inline-block;
}

.textbar {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 95px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-a {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 90px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-b {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 90px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-c {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 44px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-d {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 15px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-e {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 133px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bolder;
}

.textbar-f {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 62px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
}

.textbar-g {
  background-color: rgb(255, 255, 255);
  border-color: rgba(22, 46, 56, 0);
  margin-left: 25px;
  display: inline-block;
  width: 345px;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
}

.form {
  font-size: 15px;
}

input::placeholder {
  color: rgb(255, 0, 0);
}
