html {
  background-color: rgb(230, 100, 67);
}

.App {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 100, 67);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pageTitle {
  text-align: center;
}

.logoText {
  color: rgb(254, 255, 172);
}

a {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.link {
  color: rgb(254, 255, 172);
}

h1,
p {
  color: rgb(254, 255, 172);
}

.content {
  flex: 1;
  overflow: scroll;
}

.icon {
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
}

label {
  color: rgb(254, 255, 172);
}

hr {
  border-top: 1px solid #495057;
}

.alert p {
  color: black !important;
}

.inline {
  display: inline-block;
}

.button,
.buttonLib {
  text-decoration: none !important;
  text-align: center !important;
  padding: 5px !important;
  background-color: rgba(153, 2, 0) !important;
  color: rgb(254, 255, 172) !important;
  border-radius: 3px !important;
  margin: 5px !important;
  border: 1px solid !important;
  padding: 10px !important;
  box-shadow: 0px 0px 2px 2px !important;
}

.buttonLib {
  background-color: rgba(18, 78, 110) !important;
  color: rgb(252, 253, 251) !important;
}

.button:hover {
  background-color: rgb(82, 0, 0) !important;
  cursor: pointer !important;
}

.buttonLib:hover {
  background-color: rgb(10, 51, 73) !important;
}

.footer {
  position: fixed;
  bottom: 0;
}

.center {
  text-align: center;
}

.verticalCenter {
  align-items: center;
  justify-content: center;
}

.noMargin {
  margin: 0;
}
